<html>
<body>
<% for(var classId in classes){
	var c = classes[classId]; %>
	<h1><%=c.name%></h1>
	<p><%=c.description%></p>

	<h2>Constructor</h2><%

	var params = [];
	for(var i=0; i<c.params.length; i++){
		var param = c.params[i];
		if(param.name.indexOf('.') !== -1){
			continue;
		}
		params.push(param.optional ? '[' + param.name + ']' : param.name);
	} %>
	<p><%=c.name%> ( <%=params.join(' , ')%> )</p>
	<ul>
	<% for(var i=0; i<c.params.length; i++){
		var param = c.params[i]; %>
		<li><%= param.name %> : <%= param.type %></li>
	<% } %>
	</ul>

	<% if(c.staticProperties.length){ %>
		<h2>Static Properties</h2>
		<ul>
		<% for(var propertyId in c.staticProperties){
			var property = c.staticProperties[propertyId];
			%>	<li><%=c.name%>.<%=property.name%> : <%=property.name%></li>
		<% }
		 %></ul>
	<% } %>

	<% if(c.properties.length){ %>
		<h2>Properties</h2>
		<ul>
		<% for(var propertyId in c.properties){
			var property = c.properties[propertyId];
			%>	<li>.<%=property.name%> : <%=property.type%></li>
		<% }
		 %></ul>
	<% } %>


	<% if(c.methods.length){ %>
		<h2>Methods</h2>
		<ul>
		<% for(var methodId in c.methods){
			var method = c.methods[methodId];
			%>	<li>.<%=method.name%>()</li>
		<% }
		 %></ul>
	<% } %>

<% } %>
</body>
</html>